/*

    CSS del tabulador, copiado y pegado del demo para independizarlo del
    código html
    Fecha: 13/12/2016
    Autor: Lic. Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Licencia: GPL

*/

.tabsLite-mainDiv ul {
    margin: 0;
    padding: 0;
}
.tabsLite-tab {
    list-style-type: none;
    display: inline;
    padding: 8px 20px 0px 20px;
    border: solid 2px #CCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #E6E6E6;
    cursor: pointer;
}
.tabsLite-tab-selected {
    background-color: #F6F6F6;
    border-bottom: solid 4px #F6F6F6;;
}
.tabsLite-tab a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.tabsLite-panel {
    background-color: #F6F6F6;
    padding: 5px;
    border: solid 2px #CCC;
}

/* el tipo de botón responsables */
.botonresponsables {
    font-size: 10px;
    background-image: url(../imagenes/54.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
}

/* el tipo de botón laboratorios */
.botonlaboratorios {
    font-size: 10px;
    background-image: url(../imagenes/quimica.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
}

/* el tipo de botón determinaciones */
.botondeterminaciones {
    font-size: 10px;
    background-image: url(../imagenes/First_aid.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
}

/* el tipo de botón reportes */
.botonreportes {
    font-size: 10px;
    background-image: url(../imagenes/119.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
}

/* el tipo de botón administracion */
.botonadministracion {
    font-size: 10px;
    background-image: url(../imagenes/Olvido.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
}

/* el tipo de botón ayuda */
.botonayuda {
    font-size: 10px;
    background-image: url(../imagenes/65.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
  }
