<!--

    Archivo: form_marcas.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 22/08/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de edición de marcas
                 con un formato a dos columnas

-->

<!-- presentamos el título -->
<h2>Seleccione la técnica y luego podrá editar la nómina de
    marcas para esa técnica</h2>

<!-- definimos la primer columna -->
<div id='columna1'>

<!-- Definimos el título -->
<h2>Técnica</h2>

<!-- definimos el formulario -->
<form name='nomina_tecnicas'>

<!-- definimos el combo -->
<span class='tooltip'
      title='Seleccione la técnica del listado'>
<select name='lista_tecnicas'
        size='1'
        id='lista_tecnicas'
        onClick='marcas.listaMarcas()'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</form>

<!-- cerramos el div -->
</div>

<!-- definimos la segunda columna que luego cargamos por ajax -->
<div id='columna2'></div>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // cargamos la nómina de técnicas
    tecnicas.listaTecnicas("lista_tecnicas");

</script>
