<!--

    Archivo: jurisdicciones.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 24/08//2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario con el select de
                 jurisdicciones

-->

<!-- definimos el formulario -->
<form name='nomina_jurisdicciones' id='nomina_jurisdicciones'>

<!-- presentamos la nómina de países -->
<p align='center'>
<label>País:
<span class='tooltip'
      title='Seleccione de la lista el país'>
<select name='pais_jurisdiccion'
        id='pais_jurisdiccion'
        size='1'
        onChange='jurisdicciones.cargaJurisdicciones()'>

<!-- la nómina de elementos la cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</p>

<!-- cerramos el formulario -->
</form>

<!-- definimos el div de la grilla -->
<div id='grilla_jurisdicciones'></div>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // actualizamos el select
    paises.listaPaises("pais_jurisdiccion");

</script>