<!--

    Archivo: index.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 31/08/2018
    Version: 4.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de las
                 etiquetas candidatas para eliminación

-->

<!-- definimos el título -->
<h3>Eliminación de Etiquetas</h3>

<!-- presentamos el texto -->
<p align='justify'>
Seleccione el Operativo y luego ingrese parte del nombre del laboratorio
cuya etiqueta desea eliminar, después de pulsar el botón <b>Buscar</b>
el Sistema presentará una nómina de las etiquetas asignadas al
Laboratorio indicado.
</p>
<p align='justify'>
Recuerde que esta operación no se puede desacer, sea cuidadoso.
</p>

<!-- define el formulario -->
<form name='form_elimina_etiquetas' id='form_elimina_etiquetas'>

<!-- define la tabla -->
<table width='60%' align='center' border='0'>

<!-- presenta los encabezados -->
<thead>
<tr>
<th align='left'>Operativo</th>
<th align='left'>Laboratorio</th>
<th align='left'>Etiqueta</th>
<th></th>
<tr>
</thead>

<!-- definimos el cuerpo -->
<tbody>

<!-- abrimos la fila -->
<tr>

<!-- presentamos el select del año -->
<td>
<select name='anios_etiquetas'
        id='anios_etiquetas'
        size='1'
        title='Seleccione el operativo de la etiqueta'
        onChange='etiquetas.seleccionaEtiquetas()'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</td>

<!-- pedimos el nombre del laboratorio -->
<td>
<input type='text'
       name='laboratorio_etiqueta'
       id='laboratorio_etiqueta'
       size='45'
       title='Ingrese parte del nombre y pulse buscar'>

<!-- presenta oculta la clave -->
<input type='hidden'
       name='id_laboratorio_etiqueta'
       id='id_laboratorio_etiqueta'>

<!-- insertamos un separador -->
&nbsp;&nbsp;

<!-- presenta el botón buscar -->
<input type='button'
       name='btnLaboratorioEtiqueta'
       id ='btnLaboratorioEtiqueta'
       class='botonbuscar'
       title='Pulse para buscar el laboratorio'
       onClick='etiquetas.buscaLaboratorioEtiqueta()'>
</td>

<!-- presenta el select de la etiqueta -->
<td>
<select name='nomina_etiquetas'
        id='nomina_etiquetas'
        size='1'
        title='Seleccione la etiqueta a eliminar'>

<!-- agrega una opción en blanco -->
<option></option>

<!-- cerramos los tags -->
</select>
</td>

<!-- presenta el botón borrar -->
<td>
<input type='button'
       name='btnBorraEtiqueta'
       id='btnBorraEtiqueta'
       title='Pulse para borrar la Etiqueta'
       class='botonborrar'
       onClick='etiquetas.verificaEliminaEtiqueta()'>
</td>

<!-- cerramos la fila -->
</tr>

<!-- cierra la tabla -->
</tbody></table>

<!-- cierra el formulario -->
</form>

<script>

    // cargamos la nomina de operativos abiertos
    operativos.nominaOperativos("anios_etiquetas");

</script>