<!-- script que arma la ayuda de búsqueda de laboratorios -->
<h2>Búsqueda de Laboratorios</h2>
<p align='justify'>
    La búsqueda de laboratorios tiene un funcionamiento muy similar al de
    la búsqueda de responsables o usuarios autorizados, al pulsar la
    opción del menú, tendrá la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/busca_laboratorio.jpg'
         alt='Buscar Laboratorio'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Deberá ingresar entonces parte del nombre del laboratorio a buscar, el sistema
    explorará la base buscando coincidencias parciales.
</p>
<p align='justify'>
    Tenga en cuenta que el sistema buscará tanto en el nombre del laboratorio
    como también en el nombre del responsable, la jurisdicción y la localidad,
    así por ejemplo, si ingresáramos (hipotéticamente) <b>rodriguez</b>
    la plataforma retornará tanto:
</p>
<p>1. Un laboratorio de la localidad de General Rodriguez</p>
<p>2. Un laboratorio cuyo responsable sea Juan Carlos Rodriguez</p>
<p>3. Un laboratorio cuyo nombre sea Laboratorio Hermanos Rodriguez</p>
<p align='justify'>
    Así el resultado sería el siguiente:
</p>
<p align='center'>
    <img src='ayudas/grilla_laboratorios.jpg'
         alt='Laboratorios Encontrados'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    La captura de pantalla anterior ejemplifica el concepto mencionado anteriormente.
    Sin embargo, y dado que según el caso, el resultado de la búsqueda puede ser 
    extenso, el usuario cuenta con algunas herramientas para encontrar el 
    registro del laboratorio deseado.
</p>
<p align='justify'>
    En primer lugar, usted puede pulsar sobre el encabezado de cualquiera de las 
    columnas para ordenar los resultados (en modo ascendente o descendente)
    por la columna seleccionada.
</p>
<p align='justify'>
    Por ejemplo, si en el caso anterior, pulsamos sobre la columna jurisdicción 
    obtendremos la grilla de resultados ordenada de la siguiente forma:
</p>    
<p align='center'>
    <img src="ayudas/laboratorios_ordenados.jpg"
         alt="Laboratorios Ordenados"
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Además, es posible filtrar los resultados de acuerdo a distintos criterior, 
    por ejemplo, si en el campo <b>Nombre</b> (que se refiere al nombre del 
    laboratorio) ingresáramos <b>Hospital</b>, tendremos:
</p>
<p align='center'>
    <img src='ayudas/filtro_hospital.jpg'
         alt='Resultados Filtrados'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Como puede ver, solo se muestran los registros que contengan el término 
    <b>Hospital</b> en alguna parte de su nombre, este criterio es igualmente
    válido para filtrar por nombre del responsable o por localidad.
</p>
<p align='justify'>
    También es posible seleccionar utilizando la lista desplegable en 
    la columna Jurisdicción, asì por ejemplo si seleccionamos 
    <b>Buenos Aires</b> de la lista tendremos:
</p>
<p align='center'>
    <img src='ayudas/filtro_combo.jpg'
         alt='Resultados Filtrados'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Recuerde que puede utilizar cualquier combinación en cuanto a los 
    filtros y la ordenación, por ejemplo, es posible seleccionar la 
    Jurisdicción de <b>Buenos Aires</b>, cuyos laboratorios contengan 
    el término <b>Hospital</b> y ordenar los resultados alfabéticamente 
    por el nombre del responsable del Laboratorio.
</p>
<p align='justify'>
    Si desea examinar el registro de un Laboratorio con mas detalle, 
    bastará con pulsar el botón de edición (a la derecha de la lista)
    para que la plataforma presente todos los datos disponibles 
    sobre la misma.
</p>