<!-- archivo que presenta la ayuda sobre la búsqueda de usuarios -->
<h2>Búsqueda de Usuarios</h2>

<p align='justify'>
    La plataforma de Control de Calidad busca no solo ser una herramienta para la 
    carga de las determinaciones correspondientes a los distintos operativos, 
    sino que además intenta ser el soporte para una mejor y mayor interacción 
    de los laboratorios integrantes de la Red de Chagas.
</p>
<p align='justify'>
    Por ello, brinda la posibilidad de buscar a otros Referentes Jurisdiccionales 
    o Responsables de Laboratorios y obtener los datos de los mismos.
</p>
<p align='justify'>
    Así, cuando usted pulsa sobre la opciòn <b>Buscar</b> en el tabulador de 
    Responsables, aparecerá el siguiente cuadro de diálogo:
</p>
<p align='center'>
    <img src='ayudas/busca_usuario.jpg' 
     alt='Busqueda de Usuarios'
     width="70%"
     height="70%">
</p>
<p align='justify'>
    Como podrá ver, solo debe ingresar parte del texto a buscar y el sistema 
    retornará una grilla con los registros encontrados, así por ejemlo, si 
    ingresamos <b>Claudio</b> en el cuadro de búsqueda y luego presionamos 
    el botón <b>Buscar</b>, obtendremos la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/grilla_usuarios.jpg'
     alt='Usuarios Encontrados'
     width="70%"
     height="70%">
</p>
<p align='justify'>
    Como puede ver, el Sistema ha buscado en el nombre del usuario y presenta 
    los registros coincidentes, pero también realiza una búsqueda en otros 
    campos de la base de datos como la Jurisdicción a la que pertenece, el 
    Laboratorio al que pertenece (en caso de corresponder), el nombre de la 
    Institución, etc.
</p>
<p align='center'>
    Por ejemplo, si repetimos la búsqueda e ingresamos <b>Buenos Aires</b>
    el sistema nos devolverá la siguiente grilla:
</p>
<p align='center'>
    <img src='ayudas/usuarios_bsas.jpg'
     alt='Usuarios Encontrados'
     width="70%"
     height="70%">
</p>
<p align='justify'>
    Como puede ver, el criterio es inclusivo, asì ha listado los Usuarios 
    registrados tanto de la <b>Ciudad de Buenos Aires</b> como tambièn de 
    la <b>Provincia de Buenos Aires</b>
</p>
<p align='justify'>
    Como este listado en algunas ocasiones puede ser muy extenso (pruebe 
    con ingresar el término <b>Carrillo</b> verá que la plataforma 
    retorna un número elevado de registros) tiene la posibilidad de 
    ordenarlos, pulsando con el mouse sobre el título de la columna o 
    también de filtrarlos ingresando un texto en el campo que aparece 
    justo debajo del título de la columna.
</p>
<p align='justify'>
    Por ejemplo, si ingresamos <b>Instituto</b> en el campo correspondiente 
    a la Institución, la grilla de resultados solo mostrará aquellos 
    usuarios registrados cuya Jurisdicción contenga el término <b>Buenos 
    Airtes</b> y que se desempeñen en una Institución cuyo nombre 
    contenga el término <b>Instituto</b>.
</p>
<p align='justify'>
    La grilla resultante será entonces:
</p>
<p align='center'>
    <img src='ayudas/usuarios_filtrados.jpg'
     alt='Usuarios Encontrados'
     width="70%"
     height="70%">
</p>
<p align='justify'>
    Si desea examinar con mas detalle un registro (a fin de obtener la 
    dirección postal, el mail o el número de teléfono) solo tendrá que 
    pulsar sobre el ícono de edición que aparece a la derecha de la 
    grilla.
</p>