<!-- script que arma la página de ayuda para el cambio de password -->
<h2>Cambio de Contraseña de Ingreso</h2>
<p align='justify'>
    Al igual que en cualquier sistema, usted puede cambiar la contraseña de Ingreso
    al mismo por una nueva que solo sea conocida por usted y que garantice la
    seguridad de la información cargada.
</p>
<p align='justify'>
    Por ello, al pulsar la opción correspondiente del menú de usuarios encontrará
    que se abre la siguiente ventana:
</p>
<p align='center'>
    <img src='ayudas/nuevo_password.jpg'
         alt='Nueva Contraseña'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Como puede ver, el sistema le solicitará:
</p>
<ul>
    <li>Su vieja contraseña de ingreso (o aquella que el sistema halla generado
        para su ingreso por primera vez.
    </li>
    <li>Su nueva contraseña.</li>
    <li>Repetición de su nueva contraseña.</li>
</ul>
<p align='justify'>
    La plataforma verificará entonces que la vieja contraseña coincida con la que se
    encuentra almacenada en la base de datos y también (por una cuestión de seguridad)
    que la nueva contraseña y su repetición coincidan, en caso afirmativo, encriptará
    la nueva contraseña y la almacenará en la base de datos.
</p>
<p align='justify'>
    A partir de este momento, podrá utilizar la nueva contraseña para identificarse
    en el Sistema e iniciar sesión.
</p>
<p align='justify'>
    Recuerde que no es posible al momento, actualizar su nombre de usuario, este es
    único para cada una de las personas autorizadas por el sistema.
</p>