<!-- script que genera la ayuda para la emisión de certificados -->
<h2>Certificados de Participación</h2>
<p align='justify'>
    Al pulsar sobre la opción <b>Certificados</b> del menú de reportes 
    la plataforma presentará el siguiente cuadro de diálogo:
</p>
<p align='center'>
    <img src='ayudas/seleccion_certificados.jpg'
         alt='Selección Certificados'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    En este caso usted deberá seleccionar de la lista desplegable 
    cual es el año cuyos certificados de participación desea 
    imprimir.
</p>
<p align='justify'>
    El sistema explorará la base de datos y obtendrá un listado 
    de los laboratorios participantes de su jurisdicción para 
    el año solicitado.
</p>
<p align='justify'>
    A continuación, generará un documento que usted podrá guardar 
    o imprimir con los <b>Certificados de Participación</b> para 
    todos aquellos laboratorios que hayan realizado determinaciones, 
    tal como puede ver en la siguiente figura:
</p>
<p align='center'>
    <img src='ayudas/certificados.jpg'
         alt='Certificados'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Tenga en cuenta (y esto es una elección de cada Responsable 
    Jurisdiccional) que si los laboratorios cuentan con acceso 
    a la plataforma, ellos mismos pueden emitir sus propios 
    Certificados de Participación.
</p>
<p align='justify'>
    El procedimiento es exactamente el mismo, la única diferencia 
    es que el documento resultante solo tendrá una página y 
    contendrá los datos del laboratorio que ha solicitado la 
    impresión.
</p>