<!-- script que genera la ayuda del reporte de determinaciones cargadas -->
<h2>Determinaciones Cargadas</h2>
<p align='justify'>
    Esta opción del reporte le permite obtener una nómina de los laboratorios
    de su Jurisdicción junto con el número de determinaciones que ha
    realizado por Operativo.
</p>
<p align='justify'>
    Al seleccionar esta opción aparecerá la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/det_cargadas.jpg'
         alt='Determinaciones Cargadas'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Aquí usted seleccionará de la lista desplegable, cual es el operativo
    que se encuentra activo y cuyo reporte de determinaciones desea
    obtener.
</p>
<p align='justify'>
    En este caso recién iniciado el Operativo no hay aún determinaciones
    cargadas por lo que aparecerá la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/reporte_cargadas.jpg'
         alt='Determinaciones Cargadas'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    En un futuro próximo, cuando los laboratorios hallan comenzado a cargar
    determinaciones, usted obtendrá un listado de todos los laboratorios
    que cargaron, junto con el número de determinaciones realizadas.
</p>
<p align='justify'>
    Esto le permitirá realizar un seguimiento, operativo por operativo
    del proceso de realización y carga de determinaciones.
</p>