<!-- script que presenta la ayuda de las determinaciones -->
<h2>Determinaciones</h2>
<p align='justify'>
    Al pulsar el tabulador de <b>Determinaciones</b> la plataforma mostrará 
    todas las determinaciones cargadas por el Laboratorio que se encuentre 
    seleccionado en el tabulador correspondiente.
</p>
<p align='justify'>
    Debe entonces tener en consideración algunas cuestiones:
</p>
<ul>
    <li>
        Para poder ver las determinaciones realizadas, deberá en primer 
        lugar buscar el laboratorio y seleccionarlo, una vez que tenga 
        su ficha de datos en pantalla, el sistema cargará automáticamente 
        en el panel correspondiente la historia de las determinaciones.
    </li>
    <li>
        Si usted es un responsable jurisdiccional, podrá entonces buscar
        cualquier laboratorio de su jurisdicción y luego ver sus resultados.
    </li>
    <li>
        Si usted es un responsable jurisdiccional y busca un laboratorio 
        de otra dependencia, podrá ver los datos del laboratorio pero 
        al seleccionar el tabulador de las determinaciones el mismo 
        aparecerá en blanco.
    </li>
    <li>
        Lo mismo sucederá si usted es responsable o usuario de un laboratorio, 
        podrá buscar la información de cualquier institución que participe 
        del Sistema de Control de Calidad Externo, pero solo le será 
        posible ver sus resultados.
    </li>
</ul>
<p align='justify'>
    Tomemos un ejemplo de un usuario de una jurisdicción que busca los 
    datos de un laboratorio de otra, tendremos la siguiente pantalla 
    en los datos del laboratorio;
</p>
<p align='center'>
    <img src='ayudas/ficha_laboratorio.jpg'
         alt='Ficha Laboratorio'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Y si seleccionamos el tabulador de <b>Determinaciones</b>
</p>
<p align='center'>
    <img src='ayudas/determinaciones_vacio.jpg'
         alt='Sin determinaciones'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Este mecanismo garantiza la confidencialidad de los datos, solo un 
    usuario de ese laboratorio o el responsable jurisdiccional podrá 
    examinar los resultados.
</p>
<p align='justify'>
    Un usuario de ese mismo laboratorio o el responsable jurisdiccional 
    vería la siguiente imagen:
</p>
<p align='center'>
    <img src='ayudas/determinaciones_cargadas.jpg'
         alt='Determinaciones Cargadas'
         width='70%'
         height="70%">
</p>
<p align='justify'>
    Como puede ver, se muestra el listado completo de todas las determinaciones 
    realizadas por un laboratorio, con este listado usted puede:
</p>
<ul>
    <li>
        Filtrar los resultados tal como lo hace en la búsqueda de usuarios 
        y laboratorios, de forma tal que puede ver los resultados de una 
        sola técnica en particular, o de un operativo, de una marca de 
        reactivo utilizada, etc.
    </li>
    <li>
        Al igual que en las búsquedas puede ordenar los resultados por 
        cualquier criterio que considere pertinente.
    </li>
    <li>
        En la última columna en caso de existir una discordancia entre el 
        valor informado y el valor real de la muestra, y siempre y cuando 
        el operativo se encuentre cerrado encontrará un ícono rojo de alerta.
    </li>
    <li>
        Puede examinar con mas atención una determinación en particular pulsando 
        sobre la columna señalada como <b>Id</b> (esta es la clave de la 
        determinación para la base de datos)
    </li>
    <li>
        En caso de estar abierto el operativo, al pulsar sobre la <b>Id</b> 
        de la determinación, podrá editar el registro de la misma (una vez 
        que se cierran los operativos la edición de resultados no es 
        posible)
    </li>
</ul>
<p align='justify'>
    Por ejemplo, al pulsar sobre la clave <b>26039</b>, obtenemos:
</p>
<p align='center'>
    <img src='ayudas/determinacion_correcta.jpg'
         alt='Determinación Correcta'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Si en cambio seleccionamos una determinación con errores:
</p>
<p align='center'>
    <img src='ayudas/determinacion_incorrecta.jpg'
         alt='Determinacion Incorrecta'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Como puede ver, se brinda toda la información posible con la intención 
    de realizar un seguimiento de errores (por parte del laboratorio y 
    por parte del responsable jurisdiccional) a fin de corregir los 
    mismos.
</p>
