<!-- script que genera la ayuda para las nuevas determinaciones -->
<h2>Nueva Determinacion</h2>
<p align='justify'>
    Ya hemos visto anteriormente (véase la ayuda sobre Determinaciones 
    en el menú lateral) como buscar un laboratorio y revisar las 
    determinaciones cargadas del mismo.
</p>
<p align='justify'>
    Ahora, para cargar una nueva determinación, desde la grilla de 
    determinaciones realizadas, bastará con pulsar el botón 
    <b>Nueva</b> para que aparezca la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/nueva_determinacion.jpg'
         alt='Nueva Determinacion'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Como puede ver, el funcionamiento es muy similar a la de la versión 
    anterior de la plataforma, la única modificación es que antes 
    usted debía seleccionar en primer lugar el operativo y luego 
    estaba habilitado para cargar las determinaciones.
</p>
<p align='justify'>
    Ahora hemos intentado agilizar el proceso y en el campo desplegable 
    se encuentran disponibles los operativos activos en los cuales 
    es posible cargar datos.
</p>
<p align='justify'>
    Una vez que halla completado los datos de la determinación, bastará 
    con pulsar el botón <b>Grabar</b> para almacenar el registro en la 
    base de datos, se cierre esta ventana y retorne a la grilla de 
    determinaciones realizadas donde ya estará disponible la nueva 
    determinación.
</p>
