<!-- script que genera la ayuda de los operativos -->
<h2>Operativos</h2>
<p align='justify'>
    Al pulsar sobre el tabulador de <b>Operativos</b> usted verá la 
    siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/operativos.jpg'
         alt='Nomina Operativos'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Esta pantalla es meramente informativa ya que presentará un listado 
    con la nómina completa de los operativos indicando si cada uno de 
    ellos se encuentra abierto (disponible para la carga) o cerrado 
    (aún no habilitado o terminado) y las fechas de inicio y finalización.
</p>
<p align='justify'>
    Puede realizar el seguimiento de la carga por parte de los laboratorios 
    de su Jurisdicción teniendo en cuenta las fechas de inicio y 
    finalización de los operativos.
</p>