<!-- script que arma la pantalla de ayuda de la recuperación de contraseña -->
<h2>Recuperación de Contraseña</h2>
<p align='justify'>
    Obviamente, si usted ha llegado hasta aquí ya se ha identificado en el sistema
    y conoce su contraseña, sin embargo es conveniente que conozca esta
    funcionalidad, la cual es util en dos circunstancias puntuales.
</p>
<p>1. En caso de haber olvidado su contraeña / nombre de usuario</p>
<p>2. En aquellos casos que debe ingresar por primera vez y no conoce estos datos</p>
<p align='justify'>
    Recordemos que la pantalla de ingreso presenta el siguiente aspecto:
</p>
<p align='center'>
    <img src='ayudas/ingreso.jpg'
         alt='Pantalla de Ingreso'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Lo que nos interesa particularmente es el enlace que dice <b>Recuperar / Generar Contraseña </b>,
    al pulsarlo, la plataforma le presentará la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/recuperar.jpg'
         alt='Recuperar Contraseña'
         width='70%'
         height="70%">

</p>
<p align='justify'>
    Como puede ver, le está solicitando que ingrese su dirección de correo
    electrónico registrada en la plataforma, luego al pulsar el botón
    <b>Recuperar</b> el sistema verificará que esa dirección de correo
    corresponda con un usuario registrado y en tal caso, generará una
    nueva contraseña de ingreso.
</p>
<p align='justify'>
    Por una cuestión de seguridad, no le mostrará la contraseña en pantalla
    (ya que de ser así, cualquier persona que conozca su dirección de mail
    podría obtener la nueva contraseña), sino que enviará un correo
    electrónico a la dirección previamente indicada.
</p>
<p align='justify'>
    Este mail contendrá la información para el ingreso, junto con su
    nombre de usuario y la contraseña correspondiente.
</p>
<p align='justify'>
    Una vez recibido el mail (recuerde revisar la carpeta spam de su
    cliente de correo) ya podrá ingresar sin inconvenientes.
</p>
<p align='justify'>
    Por una cuestión de seguridad, le recomendamos que una vez que
    ingrese, utilize la opción <b>Cambiar Password</b> para
    actualizar su contraseña por alguna solo conocida por usted.
</p>