<!-- script que arma la ayuda para salir -->
<h2>Salir del Sistema</h2>
<p align='justify'>
    Al pulsar esta opción del menú de responsables, el sistema cerrará la sesión,
    eliminará todas las credenciales de ingreso y lo redigirá a la pantalla de
    ingreso.
</p>
<p align='justify'>
    Es aconsejable que utilice esta opción o cierre el navegador una vez que halla
    concluído con las actividades en la plataforma, ya que así se asegurará que
    ninguna otra persona podrá ingresar utilizando sus credenciales de ingreso.
</p>
<p align='justify'>
    De cualquier forma, y previendo un descuido por parte de los usuarios, el
    Sistema de CCE luego de pasada media hora (treinta minutos) de inactividad
    cerrará la sesión automáticamente debiendo identificarse nuevamente.
</p>
<p align='justify'>
    Esta funcionalidad (que sabemos puede ser molesta en algunas ocasiones)
    le garantizará que en caso de olvidar la pantalla con la sesión abierta,
    ninguna otra persona podrá aprovechar esta circunstancia para realizar
    tareas con su nombre de usuario.
</p>