<!-- script que genera la ayuda de los laboratorios sin determinaciones -->
<h2>Laboratorios sin Carga</h2>
<p align='justify'>
    Esta opción de los reportes le permite obtener un listado de los 
    laboratorios de su jurisdicción que aún no han cargado determinaciones
    en un cierto operativo.
</p>
<p align='justify'>
    Como en otras oportunidades, al pulsar esta opción del menú tendrá 
    la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/lista_sin_carga.jpg'
         alt='Selecciona operativo'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    El sistema le presentará una lista de los operativos actualmente 
    abiertos, luego de seleccionar y pulsar el botón <b>Reporte</b>, 
    la plataforma presentará una nómina de aquellos laboratorios 
    de su jurisdicción que no cuentan con determinaciones cargadas 
    para el Operativo seleccionado tal como se muestra en la 
    siguiente imagen:
</p>
<p align='center'>
    <img src='ayudas/laboratorios_sin_carga.jpg'
         alt='Laboratorios sin Carga'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Por supuesto, en este caso aparecen todos los laboratorios ya que 
    aún no ha comenzado la carga para los operativos seleccionados, 
    sin embargo, la utilidad de este reporte es evidente ya que le 
    permite al Responsable Jurisdiccional tener un seguimiento 
    pormenorizado de la evolución de la carga por parte de los 
    laboratorios participantes del Sistema de Control de Calidad 
    Externo.
</p>