<!-- script que genera la ayuda para ver los reportes -->
<h3>Visualización de Reportes de Eficiencia</h3>
<p align='justify'>
    Esta opción del menú de reportes le permitirá ver en línea 
    y posteriormente descargar o imprimir los reportes de 
    eficiencia ya generados (tanto del último ejercicio como 
    cualquiera de los años anteriores).
</p>
<p align='justify'>
    Al seleccionarla, verá la siguiente pantalla:
</p>
<p align='center'>
    <img src='ayudas/anio_reporte.jpg'
         alt='Año del Reporte'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Como puede apreciar, la plataforma le solicita que seleccione de 
    la lista, el año cuyo reporte desea examinar (note que solo se 
    mostrarán los años en los que se halla generado un reporte de 
    eficiencia).
</p>
<p align='justify'>
    Luego, al pulsar el botón <b>Reporte</b>, verá que inmediatamente 
    aparece la siguiente ventana:
</p>
<p align='center'>
    <img src='ayudas/reporte.jpg'
         alt='Reporte'
         width="70%"
         height="70%">
</p>
<p align='justify'>
    Este documento se encuentra en formato PDF y ahora puede examinarlo, 
    imprimirlo o incluso guardarlo en disco para su posterior análisis.
</p>