
<!--

    Archivo: form_determinaciones.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 16/08/2016
    Version: 4.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de carga de
    determinaciones

-->


<!-- definimos el formulario -->
<form name='form_determinacio' id='form_determinacion'>

<!-- definimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- presentamos la clave oculta -->
<input type='hidden' name='iddeterminacion' id='iddeterminacion'>

<!-- presentamos oculta la clave del laboratorio -->
<input type='hidden' name='idlabdatos' id='idlabdatos'>

<!-- abrimos la fila -->
<tr>

<!-- presentamos el combo con los operativos activos -->
<td>
<label>Operativo Nro.:
<span class='tooltip'
      title='Operativo a cargar'>
<select name='operativo'
        size='1'
        id='operativo'
        required>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>

<!-- si el operativo no está activo presentamos el texto -->
<input type='text'
       name='texto_operativo'
       id='texto_operativo'
       readonly
       size='10'>

<!-- cerramos los tags -->
</span>
</label>
</td>

<!-- presenta el combo con la técnica y definimos el
     evento onchange que le pasa el valor seleccionado
     al método javascript -->
<td>
<label>Técnica:
<span class='tooltip'
      title='Técnica utilizada en la determinación'>
<select name='tecnica'
        size='1'
        id='tecnica'
        required
        style='width:130px'
        onChange='determinaciones.cambiaTecnica()'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presenta oculto el combo con el método -->
<td>
<div id='combo_metodo'>
<label>Método:
<span class='tooltip'
      title='Seleccione el método utilizado'>
<select name='metodo'
        size='1'
        id='metodo'
        onChange='determinaciones.cambiaMetodo()'
        required>

<!-- agregamos las opciones -->
<option></option>
<option>Lector</option>
<option>Visual</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</div>

<!-- definimos el div para la denominación de la otra prueba -->
<div id='otra_prueba'>

    <!-- presenta oculta la clave de la otra prueba -->
    <input type='hidden'
           name='idotra'
           id='idotra'>
    <label>Prueba:
    <span class='tooltip'
          title='Indique el nombre de la prueba'>
    <input type='text'
           name='nombre_prueba'
           id='nombre_prueba'
           required
           size='15'>
    </span>
    </label>
</div>

<!-- cerramos la columna -->
</td>

<!-- presentamos el combo de la marca vacío -->
<td>
<label>Marca:
<span class='tooltip'
      title='Seleccione la marca del reactivo'>
<select name='marca'
        size='1'
        id='marca'
        required
        style='width:130px'>

<!-- los valores los actualizamos por javascript -->
<option value='0'>Seleccione</option>

<!-- cerramos el select -->
</select>

<!-- presentamos el texto libre -->
<input type='text'
       name='texto_marca'
       id='texto_marca'
       required
       size='15'>

<!-- cerramos los tags -->
</span>
</label>
</td>

<!-- cerramos la primer fila -->
</tr>

<!-- abrimos otra fila -->
<tr>

<!-- pedimos el número de lote -->
<td>
<label>Lote:
<span class='tooltip'
      title='Ingrese el lote del reactivo'>
<input type='text'
       name='lote'
       id='lote'
       required
       size='10'>
</span>
</label>
</td>

<!-- pedimos la fecha de vencimiento -->
<td>
<label>Vencimiento:
<span class='tooltip'
      title='Fecha de Vencimiento del Reactivo'>
<input type='text'
       name='vencimiento'
       id='vencimiento'
       required
       class='datepicker'
       size='8'>
</span>
</label>
</td>

<!-- presenta oculto el combo de corte -->
<td colspan='2'>
<label>Corte:
<span class='tooltip'
      title='Valor de corte utilizado'>
<select name='corte'
        id='corte'
        required
        size='1'>
</select>

<!-- presenta el texto de corte -->
<input type='text'
       name='texto_corte'
       id='texto_corte'
       required
       size='8'>

<!-- cierra los tags -->
</span>
</label>
</td>

<!-- cerramos la segunda fila -->
</tr>

<!-- abrimos la tercer fila -->
<tr>

<!-- pedimos el número de muestra -->
<td>
<label>Muestra N°:
<span class='tooltip'
      title='Número de etiqueta'>
<input type='text'
       name='muestra'
       id='muestra'
       required
       size='8'>
</span>
</label>
</td>

<!-- presenta oculto el combo de valor lectura -->
<td>
<label>Lectura:
<span class='tooltip'
      title='Valor de lectura obtenido'>
<select name='lectura'
        id='lectura'
        size='1'>
</select>

<!-- presenta el texto de lectura -->
<input type='text'
       name='texto_lectura'
       id='texto_lectura'
       size='8'>

<!--  cierra los tags -->
</span>
</label>
</td>

<!-- presenta el combo con la determinación -->
<td>
<label>Determinación:
<span class='tooltip'
      title='Indique el resultado obtenido'>
<select name='determinacion'
        id='determinacion'
        required
        size='1'>

<!-- agregamos los valores al combo -->
<option></option>
<option>Reactivo</option>
<option>No Reactivo</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presenta oculto el valor correcto -->
<td>
<div id='correcto'>
<label>Correcto:
<span class='tooltip'
      title='Resultado correcto de la determinación'>
<input type='text'
       name='resultado'
       id='resultado'
       size='15'>
</span>
</label>
</div>
</td>

<!-- cerramos la fila -->
</tr>

<!-- presenta el área de texto con los comentarios -->
<tr>
<td colspan='3' rowspan='5'>
<b>Comentarios y Observaciones</b>
<br>
<textarea name='observacionesdeterminacion'
          id='observacionesdeterminacion'
          rows='3'
          cols='80'>
</textarea>
</td>

<!-- presenta la fecha de alta -->
<td>
<label>Fecha Alta:
<span class='tooltip'
      title='Fecha de alta de la Determinación'>
<input type='text'
       name='alta_determinacion'
       id='alta_determinacion'
       size='8'
       readonly>
</span>
</label>
</td>
</tr>

<!-- presenta el usuario -->
<tr>
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó la determinación'>
<input type='text'
       name='usuario_determinacion'
       id='usuario_determinacion'
       size='8'
       readonly>
</span>
</label>
</td>
</tr>

<!-- presentamos el botón grabar -->
<tr>
<td align='center'>
<input type='button'
       name='btnGrabar'
       id='btnGrabar'
       value='Grabar'
       class='boton_grabar'
       title='Graba el registro en la base'
       onClick='determinaciones.verificaDeterminacion()'>
</td>
</tr>

<!-- presenta el botón cancelar -->
<tr>
<td align='center'>
<input type='button'
       name='btnCancelar'
       id='btnCancelar'
       value='Cancelar'
       class='boton_cancelar'
       title='Cierra este formulario de datos'
       onClick='determinaciones.cancelaDeterminacion()'>
</td>
</tr>

<!-- presenta el botón cancelar -->
<tr>
<td align='center'>
<input type='button'
       name='btnBorrar'
       id='btnBorrar'
       value='Eliminar'
       class='boton_borrar'
       title='Elimina la determinación de la base'
       onClick='determinaciones.borraDeterminacion()'>
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // setea todos los objetos de la clase datepicker
    $('#vencimiento').Zebra_DatePicker({
        format: 'm/Y',
        view: 'years',
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
    });

    // cargamos el select de técnicas
    tecnicas.listaTecnicas("tecnica");

    // cargamos la nómina de operativos abiertos
    operativos.nominaOperativos("operativo");

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // configura el editor
    CKEDITOR.replace('observacionesdeterminacion', {
            height: 100
        } );

    // por defecto oculta los combos
    $("#combo_metodo").hide();
    $("#marca").hide();
    $("#corte").hide();
    $("#lectura").hide();

    // ocultamos también los textos
    $("#texto_operativo").hide();
    $("#texto_marca").hide();
    $("#texto_corte").hide();
    $("#texto_lectura").hide();

    // oculta el div de la otra prueba
    $("#otra_prueba").hide();

    // ocultamos el resultado
    $("#correcto").hide();

    // setea las máscaras
    $("#muestra").mask("9999");

    // carga el usuario y la fecha actual
    document.getElementById("alta_determinacion").value = fechaActual();
    document.getElementById("usuario_determinacion").value = sessionStorage.getItem("Usuario");

    // fijamos la id del laboratorio
    document.getElementById("idlabdatos").value = document.getElementById("idlaboratorio").value;

</script>
