<!--

    Archivo: sin_resultados.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 10/09/2018
    Version: 4.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario para establecer
                 los resultados correctos de las determinaciones

-->

<!-- definimos el formulario -->
<form name='form_resultados' id='form_resultados'>

<!-- presentamos el título -->
<h2>Establecer Resultados Correctos de las Muestras</h2>

<!-- presenta las instrucciones-->
<p align='justify'>
En esta pantalla usted encontrará una nómina de los Operativos de Control
de Calidad Externo que se encuentran cerrados y en los que aún no se han
establecido los resultados correctos para las muestras, seleccione ambos
elementos y luego pulse el bóton <b>Grabar</b>.
</p>

<!-- establece un separador -->
<br>

<!-- definimos la tabla -->
<table width='60%' align='center' border='0'>

<!-- pedimos el operativo -->
<tr>
<td>
<label>Operativo:
<span class='tooltip'
      title='Seleccione el operativo a establecer'>
<select name='sel_operativo'
        id='sel_operativo'
        size='1'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presentamos el select de resultados -->
<td>
<label>Resultado:
<span class='tooltip'
      title='Seleccione el resultado correcto'>
<select name='resultado_correcto'
        id='resultado_correcto'
        size='1'>

<!-- cargamos los elementos -->
<option></option>
<option>Reactivo</option>
<option>No Reactivo</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presentamos el botón grabar -->
<td>
<input type='button'
       name='btnGrabaResultado'
       id='btnGrabaResultado'
       class='botongrabar'
       title='Pulse para grabar el resultado'
       onClick='determinaciones.establecerResultado()'>
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // cargamos la nómina de operativos sin resultados
    determinaciones.nominaSinResultados("sel_operativo");

</script>