<!--

    Archivo: form_localidades.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 24/08/2018
    Version: 4.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de localidades
                 presentando el select de país y jurisdicción y
                 definiendo el div donde se cargarán la grilla

-->

<!-- presentamos el título y el combo -->
<form name='form_localidades' id='form_localidades'>

<!-- definimos la tabla -->
<table width='90%' align='center' border='0'>

<!-- abrimos la fila -->
<tr>

<!-- presentamos el combo de país -->
<td>
<label>País:
<span class='tooltip'
      title='Seleccione el país de la lista'>
<select name='pais_localidad'
        id='pais_localidad'
        onChange='localidades.listaJurisdicciones()'
        size='1'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presentamos el combo de jurisdicción -->
<td>
<label>Jurisdicción:
<span class='tooltip'
      title='Seleccione de la lista la jurisdicción'>
<select name='jurisdicciones_localidad'
        id='jurisdicciones_localidad'
        size='1'
        onChange='localidades.listaLocalidades()'>

<!-- los elementos los cargamos por javascript -->
<option value='0'>Seleccione el País</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- cerramos la fila y la tabla -->
</tr>
</table>

<!-- cerramos el formulario -->
</form>

<!-- inserta un separador -->
<br>

<!-- definimos el div donde vamos a presentar las localidades -->
<div id='grilla_localidades'></div>

<script>

    // cargamos el select de países
    paises.listaPaises("pais_localidad");

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

</script>
