<!--

    Archivo: anio_det_cargadas.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 19/08/2018
    Version: 4.0
    Licencia: GPL
    Comentarios: Procedimiento que presenta el select con los
                 operativos abiertos

-->

<!-- definimos el formulario -->
<form name='abiertos'>

<!-- abre la tabla -->
<table width='70%' align='center' border='0'>

<!-- pide el operativo -->
<tr>
<td><b>Operativo: </b></td>
<td>
<span class='tooltip'
      title='Seleccione el operativo a reportar'>
<select name='operativo_cargado'
        size='1'
        id='operativo_cargado'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</td>
</tr>

<!-- insertamos un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presentamos el botón -->
<tr>
<td colspan='2' align='center'>
<input type='button' name='btnReporte'
       value='Reporte'
       id='btnReporte'
       class='boton_confirmar'
       onClick='reportes.reporteCargados()'>
</td>
</tr>

<!-- cierra la tabla -->
</table>

<!-- cierra el formulario -->
</form>

<script>

    // cargamos el select
    operativos.nominaOperativos("operativo_cargado");

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

</script>
