<!--

    Archivo: anios_reporte.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 18/08/2018
    Version: 4.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario con los años con
                 reportes de control de calidad y la nómina de
                 jurisdicciones

-->

<!-- definimos el formulario -->
<form name='pide_reporte' id='pide_reporte'>

<!-- definimos la tabla -->
<table width='350px' align='center' border='0'>

<!-- abrimos la fila -->
<tr>

<!-- presentamos el combo con los años reportados -->
<td>
<b>Año: </b>
<span class='tooltip'
      title='Seleccione el año del reporte'>
<select name='anio_reporte'
        id='anio_reporte'
        size='1'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</td>
</tr>

<!-- abrimos la fila -->
<tr>

<!-- pedimos la jurisdicción -->
<td>

<!-- definimos el div que luego ocultaremos si
     el usuario no es de nivel central -->
<div id='jur_nivel_central'>

<b>Jurisdicción: </b>
<span class='tooltip'
      title='Jurisdicción a obtener el reporte'>
<select name='lista_jur_reporte'
        id='lista_jur_reporte'
        size='1'>

<!-- cerramos los tags -->
</select>
</span>
</div>
</td>
</tr>


<!-- insertamos un separados -->
<tr><td><br></td></tr>

<!-- abrimos la fila -->
<tr>

<!-- presentamos el botón ver reporte -->
<td align='center'>
<input type='button'
       name='btnReporte'
       value='Reporte'
       class='boton_confirmar'
       onClick='reportes.verReporte()'>
</td>

<!-- cerramos la fila -->
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // cargamos la nómina de años
    operativos.nominaAniosCerrados("anio_reporte");

    // si el usuario es de nivel central
    if (sessionStorage.getItem("NivelCentral") == "Si"){

        // cargamos la nómina de jurisdicciones
        jurisdicciones.listaJurisdicciones("lista_jur_reporte");

        // mostramos el div de jurisdicciones
        $("#jur_nivel_central").show();

    // si no es de nivel central
    } else {

        // nos aseguramos de ocultar el div
        $("#jur_nivel_central").hide();

    }

</script>