<!--

    Archivo: form_busca_etiq.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 18/08/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de búsqueda de
                 etiquetas

-->

<!-- definimos el formulario -->
<form name='busca_etiqueta' id='busca_etiqueta'>

<!-- definimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- abrimos la fila -->
<tr>

<!-- pedimos el criterio -->
<td>
<b>Buscar por: </b>
<span class='tooltip'
      title='Seleccione el criterio de búsqueda'>
<input type='radio'
       name='criterio'
       id='criterio_etiqueta'
       value='etiqueta'
       onClick='reportes.criterioBusqueda()'>
       Nro.Etiqueta
<input type='radio'
       name='criterio'
       id='criterio_laboratorio'
       value='laboratorio'
       onClick='reportes.criterioBusqueda()'>
       Laboratorio
</span>
</td>

<!-- cerramos la fila -->
</tr>

<!-- abrimos la fila -->
<tr>

<!-- pedimos el nombre del laboratorio y definimos
     el div para mostrarlo u ocultarlo -->
<td>
<div id='busca_etiqueta_laboratorio'>
<b>Laboratorio: </b>
<span class='tooltip'
      tittle='Ingrese parte del nombre'>
<input type='text'
       name='nombre_laboratorio'
       id='nombre_laboratorio'
       size='30'>
</span>
</div>
</td>

<!-- cerramos la fila -->
</tr>

<!-- abrimos la fila -->
<tr>

<!-- pide el número de etiqueta y abre el div
     para ocultarlo o mostrarlo -->
<td>
<div id='busca_etiqueta_nro'>
<b>Etiqueta Nro: </b>
<span class='tooltip'
      title='Indique el número de etiqueta'>
<input type='number'
       name='nro_etiqueta'
       id='nro_etiqueta'
       class='numero'>
</span>
</div>
</td>

<!-- cerramos la fila -->
</tr>

<!-- presenta un separador -->
<tr><td><br></td></tr>

<!-- abrimos la fila -->
<tr>

<!-- presenta el botón buscar -->
<td align='center'>
<input type='button'
       name='btnBuscar'
       value='Buscar'
       class='boton_confirmar'
       onClick='reportes.encuentraEtiqueta()'>
</td>

<!-- cerramos la fila -->
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // ocultamos los div por defecto
    $("#busca_etiqueta_nro").hide();
    $("#busca_etiqueta_laboratorio").hide();

</script>
