<!--

    Archivo: geo_det_cargadas.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 08/12/2016
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que presenta el select con los
                 operativos abiertos

-->

<!-- definimos el formulario -->
<form name='abiertos'>

<!-- abre la tabla -->
<table width='75%' align='center' border='0'>

<!-- pide el operativo -->
<tr>
<td><b>Operativo: </b>
<span class='tooltip'
      title='Seleccione el operativo a reportar'>
<select name='operativo_cargado'
        size='1'
        id='operativo_cargado'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</td>
</tr>

<!-- insertamos un separador -->
<tr><td><br></td></tr>

<!-- abre una fila -->
<tr>

<!-- presenta el combo de jurisdicciones dentro del
     div que luego mostramos u ocultamos según el
     nivel de acceso del usuario-->
<td>
<div id='geo_jurisdicciones'>
<b>Jurisdicción: </b>
<span class='tooltip'
        title='Seleccione la Jurisdicción a referenciar'>
<select name='geo_jurisdiccion'
        id='geo_jurisdiccion'
        size='1'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</div>
</td>
</tr>

<!-- insertamos un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presentamos el botón -->
<tr>
<td align='center'>
<input type='button' name='btnReporte'
       value='Reporte'
       id='btnReporte'
       class='boton_confirmar'
       onClick='reportes.generaMapaCarga()'>
</td>
</tr>

<!-- cierra la tabla -->
</table>

<!-- cierra el formulario -->
</form>

<script>

    // cargamos la nómina de operativos
    operativos.nominaOperativos("operativo_cargado");

    // si es de nivel central
    if (sessionStorage.getItem("NivelCentral") == "Si"){

        // cargamos el select de jurisdicciones
        jurisdicciones.listaJurisdicciones("geo_jurisdiccion");

        // mostramos el div de jurisdicciones
        $("#geo_jurisdicciones").show();

    // si no es de nivel central
    } else {

        // nos aseguramos de ocultar el div
        $("#geo_jurisdicciones").hide();

    }

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

</script>
