<!--

    Archivo: form_responsables.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 14/08/2018
    Version: 4.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de responsables

-->


<!-- definimos el formulario -->
<form name='form_responsables' id='form_responsables'>

<!-- abrimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- definimos la clave oculta -->
<input type='hidden'
       name='idresponsable'
       id='idresponsable'>

<!-- abrimos la fila -->
<tr>

<!-- pedimos el nombre -->
<td colspan='4'>
<label>Nombre:
<span class='tooltip'
      title='Nombre completo del Responsable'>
<input type='text'
       name='nombre'
       id='nombre'
       size='50'
       onblur='document.form_responsables.nombre.value = document.form_responsables.nombre.value.toUpperCase()'
       required>
</span>
</label>
</td>

<!-- pedimos el nombre de usuario -->
<td colspan='2'>
<label>Usuario:
<span class='tooltip'
      title='Nombre de usuario en la base de datos'>
<input type='text'
       name='usuario'
       id='usuario'
       size='10'
       required>
</span>
</label>
</td>
</tr>

<!-- pedimos la institución -->
<tr>
<td colspan='6'>
<label>Institución:
<span class='tooltip'
      title='Institución en la que se desempeña'>
<input type='text' name='institucion'
       id='institucion'
       size='40'
       onblur='document.form_responsables.institucion.value = document.form_responsables.institucion.value.toUpperCase()'
       required>
</span>
</label>

<!-- inserta un separador -->
&nbsp;&nbsp;

<!-- pedimos el cargo -->
<label>Cargo:
<span class='tooltip'
       title='Cargo que desempeña en la Institución'>
<input type='text' name='cargo'
       id='cargo'
       size='40'
       onblur='document.form_responsables.cargo.value = document.form_responsables.cargo.value.toUpperCase()'
       required>
</span>
</label>
</td>
</tr>

<!-- pedimos el mail -->
<tr>
<td colspan='4'>
<label>E-Mail:
<span class='tooltip'
      title='Dirección de Correo Electrónico<br>
             Usada para recuperar la contraseña'>
<input type='text'
       name='e_mail'
       id='e_mail'
       size='30'
       onblur='document.form_responsables.e_mail.value = document.form_responsables.e_mail.value.toLowerCase()'
       required>
</span>
</label>
</td>

<!-- pedimos el teléfono -->
<td colspan='2'>
<label>Teléfono:
<span class='tooltip'
      title='Número de teléfono con prefijo de área'>
<input type='text' name='telefono'
       id='telefono'
       size='20'
       required>
</span>
</label>
</td>
</tr>

<!-- pedimos el país -->
<tr>
<td colspan='2'>
<label>Pais:
<span class='tooltip'
      title='Seleccione de la lista el país de <br>
             Residencia del Responsable'>
<select name='pais'
        id='pais'
        size='1'
        onChange='responsables.cargaProvincias()'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- pedimos la jurisdicción -->
<td colspan='2'>
<label>Jurisdicción:
<span class='tooltip'
      title='Si es en Argentina, seleccione de la lista<br>
             la Jurisdicción de Residencia del Responsable'>
<select name='jurisdiccion'
        id='jurisdiccion'
        size='1'
        onChange='responsables.cargaLocalidades()'>

<!-- agregamos el primer elemento en blanco -->
<option value='0'>Seleccione</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- pedimos la localidad -->
<td colspan='2'>
<label>Localidad:
<span class='tooltip'
      title='Localidad de Residencia del Responsable'>
<select name='localidad'
        id='localidad'
        style='width:190px'
        size='1'>

<!-- agregamos el primer elemento en blanco -->
echo "<option value='0'>Seleccione</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>
</tr>

<!-- pedimos la dirección -->
<tr>
<td colspan='4'>
<label>Dirección:
<span class='tooltip'
      title='Indique la Dirección Postal, se usará <br>
             para enviar las muestras y notificaciones'>
<input type='text' name='direccion'
       id='direccion'
       size='40'
       onblur='document.form_responsables.direccion.value = document.form_responsables.direccion.value.toUpperCase()'
       required>
</span>
</label>
</td>

<!-- pedimos el código postal -->
<td colspan='2'>
<label>Código Postal:
<span class='tooltip'
      title='Código postal para enviar las muestras'>
<input type='text' name='codigopostal'
       id='codigopostal'
       size='10'
       onblur='document.form_responsables.codigopostal.value = document.form_responsables.codigopostal.value.toUpperCase()'
       required>
</span>
</label>
</td>
</tr>

<!-- pedimos si es responsable -->
<tr>
<td colspan='2'>
<label>Responsable
<span class='tooltip'
      title='Marque si el usuario es responsable Jurisdiccional'>
<input type='checkbox' name='responsable'
       value='Si'
       id='responsable'>
</span>
</label>
</td>

<!-- pide el laboratorio si no es responsable -->
<td colspan='4'>
<label>Laboratorio:
<span class='tooltip'
      title='Si no es Responsable Jurisdiccional, ingrese el <br>
             Laboratorio autorizado para cargar'>
<input type='text'
       name='laboratorio'
       id='laboratorio'
       size='40'>
</span>
</label>

<!-- presenta oculta la id del laboratorio -->
<input type='hidden'
       name='idlaboratorioresponsable'
       id='idlaboratorioresponsable'>

<!-- inserta un separador -->
&nbsp;&nbsp;

<!-- presenta el botón buscar -->
<span class='tooltip'
      title='Busca el Laboratorio que administra'>
<input type='button'
       name='btnBuscaLaboratorio'
       id='btnBuscaLaboratorio'
       onClick='responsables.buscaLabResponsable()'
       class='botonbuscar'>
</span>

<!-- cierra los tags -->
</td>
</tr>

<!-- checkbox si está activo -->
<tr>
<td>
<label>Activo:
<span class='tooltip'
      title='Marque si el usuario está activo'>
<input type='checkbox'
       name='activo'
       value='Si'
       id='activo'>
</span>
</label>
</td>

<!-- checkbox del nivel central -->
<td>
<label>Nivel Central:
<span class='tooltip'
      title='Marque si el usuario es de nivel central'>
<input type='checkbox'
       name='nivelcentral'
       value='Si'
       id='nivelcentral'>
</span>
</label>
</td>

<!-- presenta la fecha de alta -->
<td>
<label>Fecha Alta:
<span class='tooltip'
      title='Fecha de alta del registro (solo lectura)'>
<input type='text' name='fechaalta'
       id='fechaalta'
       readonly
       size='8'>
</span>
</label>
</td>

<!-- presentamos el botón grabar -->
<td align='center'>
<span class='tooltip'
      title='Graba el registro en la base'>
<input type='button'
       value=' Grabar '
       id='btnGrabar'
       name='btnGrabar'
       class='boton_grabar'
       onClick='responsables.verificaResponsable()'>
</span>
</td>

<!-- fijamos el botón cancelar -->
<td align='center'>
<span class='tooltip'
      title='Cancela todos los cambios del registro'>
<input type='button'
       value='Cancelar'
       id='btnCancelar'
       name='btnCancelar'
       class='boton_cancelar'
       onClick='responsables.cancelaUsuario()'>
</span>
</td>

<!-- presentamos el botón mapa -->
<td align='center'>
<span class='tooltip'
      title='Pulse para ver un mapa de la ubicación'>
<input type='button'
       value='Mapa'
       id='btnMapa'
       name='btnMapa'
       class='boton_mapa'
       onClick='responsables.mapaUsuario()'>
</span>
</td>

<!-- cierra la fila -->
</tr>

<!-- presentamos el editor de observaciones -->
<tr>
<td colspan='6'>
<fieldset>
<legend>Observaciones y Comentarios </legend>
<textarea name='observaciones'
          id='observaciones'
          rows='3' cols='80'>
</textarea>
</fieldset>
</td>
</tr>

<!-- presentamos ocultas las coordenadas -->
<input type='hidden'
       name='coordenadas'
       id='coordenadas'>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // cargamos la nómina de países
    paises.listaPaises("pais");

    // fijamos la fecha de alta
    document.getElementById("fechaalta").value = fechaActual();

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // configura el editor
    CKEDITOR.replace('observaciones', {
            height: 100
        } );

    // fijamos el foco
    document.getElementById("nombre").focus();

</script>
