<!--

    Nombre: form_ingreso.php
    Fecha: 15/12/2016
    Autor: Lic. Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Licencia: GPL
    Producido en: INP - Dr. Mario Fatala Chaben
    Buenos Aires - Argentina
    Comentarios: procedimiento que arma el formulario de ingreso al sistema

-->

<!-- presentamos el título -->
<h2>Ingreso al CCE</h2>

<!-- definimos el formulario -->
<form name='form_ingreso'>

<!-- definimos la tabla -->
<table width='98%' align='center' border='0'>
    <tr>
        <td colspan='3'>
            Indique su nombre de usuario y contraseña
        </td>
    </tr>

        <!-- pedimos el usuario -->
        <tr>
            <td rowspan='2'>
                <img src='../imagenes/logo_fatala.jpg'
                     alt='INP'
                     width="90%"
                     height="90%">
            </td>
            <td><b>Usuario: </b></td>
            <td>
            <span class='tooltip'
                  title='Nombre de usuario en el sistema'>
                  <input type='text' name='usuario'
                  id='usuario'
                  size='10'>
            </span>
            </td>
        </tr>

        <!-- pedimos la contraseña -->
        <tr>
            <td><b>Contraseña: </b></td>
            <td>
            <span class='tooltip'
                  title='Contraseña de ingreso al sistema'>
                  <input type='password' name='password'
                  id='password'
                  size='10'>
            </span>
            </td>
        </tr>

        <!-- insertamos un separador -->
        <tr><td colspan='3'><br></td></tr>

        <!-- presentamos el enlace -->
        <tr>
            <td colspan='3' align='center'>
                <a href='#'
                   title='Pulse para recuperar o generar su clave de ingreso'
                   onClick='seguridad.recuperaUsuario()'>
                   Recuperar / Generar Usuario
                </a>
            </td>
        </tr>
        <!-- insertamos un separador -->
        <tr><td colspan='3'><br></td></tr>

        <!-- presenta el checkbox de mostrar contraseña -->
        <tr>
            <td colspan='3' align='center'>
                <span class='tooltip'
                      title='Muestra los caracteres ingresados'>
                      <input type="checkbox"
                             onclick="seguridad.mostrarPassword();">
                      Mostrar Contraseña
                </span>
            </td>
        </tr>
        <!-- insertamos un separador -->
        <tr><td colspan='3'><br></td></tr>

        <!-- presentamos el botón ingresar -->
        <tr>
            <td colspan='3' align='center'>
            <input type='button' name='btnIngresar'
                   id='btnIngresar'
                   value='Ingresar'
                   onClick='seguridad.validarIngreso()'
                   class='boton_confirmar'>
            </td>
        </tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>
<SCRIPT>

    // fijamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // setea el foco
    document.form_ingreso.usuario.focus();

</SCRIPT>