<!--

  Nombre: recuperar.html
  Fecha: 12/06/2017
  Autor: Lic. Claudio Invernizzi
  E-Mail: cinvernizzi@gmail.com
  Licencia: GPL
  Producido en: INP - Dr. Mario Fatala Chaben
  Buenos Aires - Argentina
  Comentarios: Método que presenta el formulario de recuperación de contraseña

-->

<!-- definimos un formulario sencillo -->
<h3 align='center'>Recuperación de Ingreso</h3>
<p align='justify'>
    Ingrese su correo electrónico y pulse <b>Recuperar</b>
    el Sistema explorará la base <br>de datos y le enviará un mail
    con la información para su ingreso.
</p>
<input type='text'
       name='recupera_mail'
       id='recupera_mail'
       size='30'
       placeholder='E-Mail registrado'
       title='Dirección de correo registrada'>
&nbsp;&nbsp;
<input type='button'
       value='Recuperar'
       name='btnRecupera'
       id='btnRecupera'
       class='boton_confirmar'
       title='Pulse para recuperar'
       onClick='seguridad.generarPassword()'>
