<!--

    Archivo: certificados.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 17/08/2018
    Version: 4.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario con el select
                 para que el usuario seleccione el año de los
                 certificados a generar

-->

<!-- presentamos el título -->
<p align='justify'>
<b>Certificados de Participación: </b></p>

<!-- abrimos el formulario -->
<form name='form_certificados'>

<!-- abrimos la tabla -->
<table width='60%' align='center' border='0'>

<!-- pedimos el año del certificado -->
<tr>
<td>
<b>Año: </b>
</td>
<td>
<span class='tooltip'
      title='Año de los Certificados a Imprimir'>
<select name='anio_certificado'
        size='1'
        id='anio_certificado'>

<!-- la nómina la cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</td>
</tr>

<!-- insertamos un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presentamos el botón -->
<tr>
<td colspan='2' align='center'>
<input type='button'
       name='btnGenerar'
       id='btnGenerar'
       class='boton_confirmar'
       value='Generar'
       title='Pulse para imprimir los certificados'
       onClick='certificados.generaCertificados()'>
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // cargamos la nómina de años
    operativos.nominaAniosCerrados("anio_certificado");

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

</script>
