<!--

    Archivo: form_generar.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 16/11/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario para la selección
                 del tipo de reporte a generar

-->

<!-- presenta el título -->
<h2 align='center'>Generar Reportes de Concordancia</h2>

<!-- definimos el formulario -->
<form name='generar_reporte'
      id='generar_reporte'>

<!-- definimos la tabla y la centramos -->
<table width='40%' align='center' border='0'>

<!-- abre la fila y pide el año a informar -->
<tr>
<td colspan='2'>
<label>Año:
<span class='tooltip'
      title='Indique el año del reporte'>
<select name='anio_reporte'
        id='anio_reporte'
        size='1'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>
</tr>

<!-- pide el tipo de reporte a generar -->
<tr>
<td colspan='2'>
<label>Tipo Reporte:
<span class='tooltip'
      title='Seleccione el tipo de reporte'>
<select name='tipo_reporte'
        id='tipo_reporte'
        size='1'
        onChange='informes.tipoReporte()'>

<!-- agregamos los elementos -->
<option></option>
<option>Nacional</option>
<option>Provincial</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>
</tr>

<!-- presenta el select con la nómina de jurisdicciones -->
<tr>
<td colspan='2'>
<label>Jurisdicción:
<span class='tooltip'
      title='Jurisdicción a informar'>
<select name='jurisdiccion_reporte'
        id='jurisdiccion_reporte'
        onChange='informes.selNacional()'
        size='1'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>
</tr>

<!-- pide el texto del encabezado -->
<tr>
<td colspan='2'>
<label>Encabezado:
<span class='tooltip'
      title='Eencabezado de las páginas del reporte'>
<input type='text'
       name='encabezado_reporte'
       id='encabezado_reporte'
       size='50'>
</span>
</label>
</td>
</tr>

<!-- inserta un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presenta el botón generar -->
<tr>
<td align='center'>
<input type='button'
       name='btnReporte'
       id='btnReporte'
       value='Generar'
       title='Pulse para generar el reporte'
       class='boton_confirmar'
       onClick='informes.Validar()'>
</td>

<!-- presenta el botón reiniciar -->
<td align='center'>
<input type='button'
       name='btnCancela'
       id='btnCancela'
       value='Cancelar'
       title='Reinicia el formulario'
       class='boton_cancelar'
       onClick='informes.Cancelar()'>
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // fijamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // cargamos los años con operativos cerrados
    operativos.nominaAniosCerrados("anio_reporte");

    // cargamos las jurisdicciones
    jurisdicciones.listaJurisdicciones("jurisdiccion_reporte", 1);

    // fijamos el foco
    document.getElementById("anio_reporte").focus();

</script>