<!--

    Archivo: form_operativos.html
    Proyecto: CCE
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 15/08/2018
    Version: 4.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de operativos

-->

<!-- define el formulario -->
<form name='datos_operativos' id='datos_operativos'>

<!-- presenta la clave oculta -->
<input type='hidden' name='id_operativo' id='id_operativo' value=''>

<table width='95%' align='center' border='0'>

    <tr>

        <!-- el número de operativo -->
        <td>
        <label>Operativo Nro:
               <span class='tooltip'
                title='Número de Operativo'>
                <input type='text'
                       name='operativo_nro'
                       id='operativo_nro'
                       size='8'>
               </span>
        </label>
        </td>

        <!-- el checbox con el estado -->
        <td>
        <label>Abierto:
            <span class='tooltip'
             title='Marque si el operativo está abierto'>
             <input type='checkbox'
                    name='operativo_abierto'
                    id='operativo_abierto'
                    value='Si'>
            </span>
        </label>
        </td>
    </tr>
    <tr>

        <!-- pide la fecha de inicio -->
        <td>
            <label>Fecha de Inicio:
                <span class='tooltip'
                    title='Fecha de inicio del operativo'>
                    <input type='text'
                           name='inicio_operativo'
                           id='inicio_operativo'
                           size='12'
                           class='datepicker'>
                </span>
            </label>
        </td>

        <!-- pide la fecha de finalización -->
        <td>
            <label>Fecha Fin:
                <span class='tooltip'
                    title='Fecha de finalización del operativo'>
                    <input type='text'
                           name='fin_operativo'
                           id='fin_operativo'
                           size='12'
                           class='datepicker'>
                </span>
            </label>
        </td>
    </tr>
    <tr>

        <!-- el usuario y la fecha de alta -->
        <td>
            <label>Usuario:
                <span class='tooltip'
                    title='Usuario que ingresó el registro'>
                    <input type='text'
                           name='usuario_operativo'
                           id='usuario_operativo'
                           readonly
                           size='12'>
                </span>
            </label>
        </td>
        <td>
            <label>Fecha Alta:
                <span class='tooltip'
                    title='Fecha de alta del registro'>
                    <input type='text'
                           name='alta_operativo'
                           id='alta_operativo'
                           readonly
                           size='12'>
                </span>
            </label>
        </td>
    </tr>

    <!-- insertamos un separador -->
    <tr><td colspan='2'><br></td></tr>

    <tr>

        <!-- el botón aceptar -->
        <td align='center'>
            <input type='button'
                   name='btnGrabar'
                   value='Grabar'
                   class='boton_grabar'
                   onClick='operativos.verificaOperativo()'>
        </td>

        <!-- el botón cancelar -->
        <td align='center'>
            <input type='button'
                   name='btnCancelar'
                   value='Cerrar'
                   class='boton_cancelar'
                   onClick='operativos.cierraOperativo()'>
        </td>

    </tr>
</table>
</form>
<script>

    // fijamos el usuario la fecha de alta y la máscara
    document.getElementById("alta_operativo").value = fechaActual();
    document.getElementById("usuario_operativo").value = sessionStorage.getItem("Usuario");
    $("#operativo_nro").mask("9/9999");

    // setea todos los objetos de la clase datepicker
    $('input.datepicker').Zebra_DatePicker({
        format: 'd/m/Y',
        view: 'years',
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
    });

</script>